@font-face {
  font-family: "Helvetica";

  src: url("../../static/fonts/HelveticaNowDisplay-Medium.ttf")
    format("truetype");
}

:root {
  --main: black;

  --main-2: rgba(181, 201, 10, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

html {
  // pointer-events: none;
  overflow-x: hidden;

  height: -webkit-fill-available;
}

body {
  // pointer-events: none;
  overflow-x: hidden;
  scrollbar-width: none;

  /* Firefox */
  -ms-overflow-style: none;

  /* IE and Edge */
  // overflow: hidden;

  overscroll-behavior-y: contain;
}

html {
  scrollbar-width: none;

  /* Firefox */
  -ms-overflow-style: none;

  /* IE and Edge */
  overflow-x: hidden;

  overscroll-behavior-y: contain;
}

/* Hide the scrollbar for WebKit-based browsers */

body {
  &::-webkit-scrollbar {
    width: 0;
    scrollbar-width: none;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  max-width: 100vw;
}

.lock-scroll {
  overflow: hidden;
}

main {
  color: white;
  max-width: 100vw;
  min-height: 100dvh;
}

.webgl {
  position: absolute;
  z-index: -5;
  top: 0;
  left: 0;
  max-width: 100vw;
  max-height: 100dvh;
  outline: none;
}

.bg-line {
  position: absolute;
  width: 2px;

  left: 50%;

  background-color: rgba(181, 201, 10, 1);

  &-set {
    pointer-events: none;
    position: fixed;
    z-index: 51;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
  }
}

.line_1-1 {
  height: 50%;
  top: 0;
}

.line_2-1 {
  margin-left: -20%;
  height: 50%;
  top: 0;
}

.line_3-1 {
  margin-left: 20%;
  height: 50%;
  top: 0;
}

.line_4-1 {
  margin-left: -40%;
  height: 50%;
  top: 0;
}

.line_5-1 {
  margin-left: 40%;
  height: 50%;
  top: 0;
}

.line_1-2 {
  bottom: 0;
  height: 50%;
}

.line_2-2 {
  margin-left: -20%;
  bottom: 0;
  height: 50%;
}

.line_3-2 {
  margin-left: 20%;
  bottom: 0;
  height: 50%;
}

.line_4-2 {
  margin-left: -40%;
  bottom: 0;
  height: 50%;
}

.line_5-2 {
  margin-left: 40%;
  bottom: 0;
  height: 50%;
}

/* .line_1-1 {
  margin-left: 1%;
  height: 5%;
}
.line_1-2 {
  margin-left: -1%;
  height: 5%;
} */

.subtitles {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;

  &_1 {
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
  &_2 {
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
    transform: rotate(180deg);
    margin-right: 0.5vw;
    font-family: sans-serif;
  }
}

.title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;

  justify-content: center;
  font-family: "Raleway", sans-serif;
  font-weight: 800;

  h1 {
    font-size: 5vw;
    display: flex;
    flex-direction: column;
    opacity: 1;
    letter-spacing: 1.75vw;
  }

  &_line2 {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 700px) {
  .title {
    h1 {
      font-size: 30px;
    }
    .name--jp {
      font-size: 40px;
    }
    &_line2 {
      flex-direction: column;
    }
  }
}

.green-letter {
  color: rgba(181, 201, 10, 1);
}

.name--jp {
  font-size: 2.5vw;
  letter-spacing: 2vw;
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 100;
}

.more-infos {
  color: white;
  position: absolute;
  top: 4%;
  right: 2vw;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  display: flex;
  gap: 1vw;
  font-size: 1.7vw;
}

@media (max-width: 700px) {
  .more-infos {
    font-size: 20px;
    flex-direction: column-reverse;
    gap: 4vw;
  }
}

.noise {
  /* content: ""; */
  position: absolute;
  z-index: 0;
  top: 0;
  width: 100%;
  height: 100dvh;
  background: url("https://i.ibb.co/FhfBXMD/static.jpg") repeat center;
  mix-blend-mode: multiply;
  opacity: 0.3;
  pointer-events: none;
}

.bg-zone {
  pointer-events: none;
  position: absolute;
  height: 100dvh;
  left: 50%;
  width: 20%;
  bottom: 50%;
  &-set {
    position: fixed;
    z-index: 15;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  &-container {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.zone {
  pointer-events: none;
  background-color: var(--main);
  &_1 {
    &-1 {
      width: 20%;
      height: 0%;
      background-color: var(--main);
    }
    &-2 {
      width: 20%;
      height: 0%;
      background-color: var(--main-2);
    }
  }
  &_2 {
    &-1 {
      margin-left: -20%;
      height: 0%;
      background-color: var(--main);
    }
    &-2 {
      margin-left: -20%;
      height: 0%;
      background-color: var(--main-2);
    }
  }
  &_3 {
    &-1 {
      margin-left: 20%;
      height: 0%;
      background-color: var(--main);
    }
    &-2 {
      margin-left: 20%;
      height: 0%;
      background-color: var(--main-2);
    }
  }
  &_4 {
    &-1 {
      margin-left: -40%;
      height: 0%;
      background-color: var(--main);
    }
    &-2 {
      margin-left: -40%;
      height: 0%;
      background-color: var(--main-2);
    }
  }
  &_5 {
    &-1 {
      margin-left: 40%;
      height: 0%;
      background-color: var(--main);
    }
    &-2 {
      margin-left: 40%;
      height: 0%;
      background-color: var(--main-2);
    }
  }
  &_6 {
    &-1 {
      margin-left: -60%;
      height: 0%;
      background-color: var(--main);
    }
    &-2 {
      margin-left: -60%;
      height: 0%;
      background-color: var(--main-2);
    }
  }
}

.section--2 {
  position: absolute;
  height: 100dvh;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Helvetica";
  overflow: hidden;

  p {
    width: 70%;
    font-size: 1.5vw;
  }

  &_text {
    opacity: 0;
  }

  &_slide {
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: column;

    /* justify-content: center; */
    align-items: center;
    white-space: nowrap;
    animation: 5s slide infinite linear;

    &.l2 {
      background-color: red;
    }

    > * {
      writing-mode: vertical-rl;
      text-orientation: sideways-right;
      transform: rotate(180deg);
      margin-inline: 20px;
    }

    &_container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      right: 0;
      width: 3%;
      height: 100%;
      background-color: var(--main);
      transform: translateX(100%);
    }

    &_point {
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background-color: var(--main-2);
    }

    & .italic {
      font-style: italic;
      font-weight: 100;
    }
  }
}

@media (max-width: 700px) {
  .section--2 p {
    font-size: 15px;
  }
}

@keyframes slide {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(100%);
  }
}

.section--3 {
  opacity: 0;
  position: fixed;
  font-size: 3vw;
  height: 100dvh;
  width: 100%;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Helvetica";
  overflow: hidden;
  color: white;

  &_container {
    width: 100%;
    height: 100%;
    display: grid;
    // 28.5% 1.5% 15% 3.5% 1.5% 15% 3.5% 1.5% 16.5% 3.5% 13.7%
    grid-template-columns: 28.5% 1.5% 15% 3.5% 1.5% 15% 3.5% 1.5% 16.5% 3.5% 13.7%;
    grid-template-rows: 5.25% 22.75% 12.85% 50.65% 2.4% 6.1%;
  }

  &_bg {
    width: 100%;
    height: 100%;
    &--a {
      grid-column: 1 / 12;
      grid-row: 1;
      background-color: black;
    }
    &--b {
      grid-column: 1;
      grid-row: 2 / 6;
      background-color: black;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;

      h2 {
        line-height: 1;
        margin-top: 4vw;
        font-size: 4vw;
        font-weight: 100;

        &:nth-child(1) {
          line-height: normal;
          font-weight: 100;
          writing-mode: vertical-rl;
          text-orientation: sideways-right;
          transform: rotate(180deg);
        }
      }
    }
    &--c {
      grid-column: 1 / 12;
      grid-row: 6;
      background-color: black;
      width: 100%;
      height: 100%;
    }
    &--d {
      grid-column: 11;
      grid-row: 1 / 6;
      background-color: black;
      width: 100%;
      height: 100%;
    }
    &--e {
      grid-column: 2/3;
      grid-row: 2;
      background-color: black;
      width: 100%;
      height: 100%;
    }
    &--f {
      grid-column: 4;
      grid-row: 5;
      background-color: black;
      width: 100%;
      height: 100%;
    }
    &--g {
      grid-column: 7;
      grid-row: 5;
      background-color: black;
      width: 100%;
      height: 100%;
    }
    &--h {
      grid-column: 10;
      grid-row: 5;
      background-color: black;
      width: 100%;
      height: 100%;
    }
  }

  & h3 {
    pointer-events: none;
    padding: 1.5vw 1.5vw;
    font-weight: 100;
    font-family: "Inter", sans-serif;
  }

  &_title {
    width: 100%;
    height: 100%;

    &--1 {
      grid-column: 3/6;
      grid-row: 2;
      background-color: black;
      border-top: 1px solid var(--main-2);
      border-left: 1px solid var(--main-2);
      // border-right: 1px solid var(--main-2);
      font-size: 3vw;

      & span {
        display: block;
        font-family: "Inter", sans-serif;
        font-weight: 300;

        padding-left: 1.5vw;
        visibility: hidden;
      }
    }

    &--2 {
      grid-column: 6/9;
      grid-row: 2;
      background-color: var(--main);
      border-top: 1px solid var(--main-2);
      border-left: 1px solid var(--main-2);
      // border-right: 1px solid var(--main-2);

      & span {
        display: block;
        font-family: "Inter", sans-serif;
        font-weight: 300;

        padding-left: 1.5vw;
        visibility: hidden;
      }
    }

    &--3 {
      grid-column: 9/11;
      grid-row: 2;
      background-color: var(--main);
      border-top: 1px solid var(--main-2);
      border-left: 1px solid var(--main-2);
      border-right: 1px solid var(--main-2);

      & span {
        display: block;
        font-family: "Inter", sans-serif;
        font-weight: 300;

        padding-left: 1.5vw;
        visibility: hidden;
      }
    }
  }

  &_subtitle {
    &--1 {
      grid-column: 4;
      grid-row: 3/5;
      background-color: var(--main);
      width: 100%;
      height: 100%;
      border-bottom: 1px solid var(--main-2);
      & h4 {
        pointer-events: none;
      }
    }
    &--2 {
      grid-column: 7;
      grid-row: 3/5;
      background-color: var(--main);
      width: 100%;
      height: 100%;
      border-bottom: 1px solid var(--main-2);
      & h4 {
        pointer-events: none;
      }
    }
    &--3 {
      grid-column: 10;
      grid-row: 3/5;
      background-color: var(--main);
      width: 100%;
      height: 100%;
      border-bottom: 1px solid var(--main-2);
      border-right: 1px solid var(--main-2);
      & h4 {
        pointer-events: none;
      }
    }
  }
  &_more {
    &--1 {
      grid-column: 3;
      grid-row: 3;
      background-color: var(--main);
      width: 100%;
      height: 100%;
      border-left: 1px solid var(--main-2);
      transform: scaleY(0);
      transform-origin: top;
    }
    &--2 {
      grid-column: 6;
      grid-row: 3;
      background-color: var(--main);
      width: 100%;
      height: 100%;
      border-left: 1px solid var(--main-2);
      transform: scaleY(0);
      transform-origin: top;
    }
    &--3 {
      grid-column: 9;
      grid-row: 3;
      background-color: var(--main);
      width: 100%;
      height: 100%;
      border-left: 1px solid var(--main-2);
      // border-right: 1px solid var(--main-2);
      transform: scaleY(0);
      transform-origin: top;
    }
  }
  &_more2 {
    &--1 {
      grid-column: 2;
      grid-row: 3;
      background-color: var(--main);
      width: 100%;
      height: 100%;
      transform-origin: top;
      transform: scaleY(0);
    }
    &--2 {
      grid-column: 5;
      grid-row: 3;
      background-color: var(--main);
      width: 100%;
      transform-origin: top;
      transform: scaleY(0);
    }
    &--3 {
      grid-column: 8;
      grid-row: 3;
      background-color: var(--main);
      width: 100%;
      transform-origin: top;
      transform: scaleY(0);
    }
  }
  &_animSquare {
    &--1 {
      grid-column: 2/4;
      grid-row: 3/6;
      height: 100%;
      transform-origin: bottom center;
      background-color: var(--main-2);
      opacity: 0;
      mix-blend-mode: darken;
    }
    &--2 {
      grid-column: 5/7;
      grid-row: 3/6;
      height: 100%;
      background-color: var(--main-2);
      transform-origin: bottom center;
      opacity: 0;
      mix-blend-mode: darken;
    }
    &--3 {
      grid-column: 8/10;
      grid-row: 3/6;
      height: 100%;
      background-color: var(--main-2);
      transform-origin: bottom center;
      opacity: 0;
      mix-blend-mode: darken;
    }
  }
}

[class^="section--3_subtitle"] {
  display: flex;
  justify-content: center;

  & h4 {
    font-size: 1.25vw;
    text-orientation: sideways-right;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    padding-top: 1vw;
    font-weight: 100;
    line-height: 1;
  }
  & span {
    padding-top: 1vw;
    line-height: 1;
    font-size: 1vw;
    font-weight: 400;
    text-orientation: sideways-right;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
  }
}

@media (max-width: 1028px) {
  .section--3 {
    pointer-events: none;
    &_container {
      grid-template-columns: 28.5% 1.5% 15% 3.6% 1.5% 14.8% 3.6% 1.5% 16.5% 3.6% 9.9%;
      grid-template-rows: 5.25% 32.75% 12.85% 43.65% 2.4% 6.1%;
    }
    &_title {
      &--1 {
        & h3 {
          font-size: 6vw;
        }
        & span {
          visibility: visible;
          font-size: 3vw;
        }
      }
      &--2 {
        & h3 {
          font-size: 6vw;
        }
        & span {
          visibility: visible;
          font-size: 3vw;
        }
      }
      &--3 {
        & h3 {
          font-size: 6vw;
        }
        & span {
          visibility: visible;
          font-size: 3vw;
        }
      }
    }
  }

  [class^="section--3_subtitle"] {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    & h4 {
      font-size: 1.5vw;
    }
    & span {
      font-size: 1.5vw;
    }
  }
}

[class^="section--3_more-"] {
  & p {
    pointer-events: none;
  }

  display: flex;
  justify-content: center;

  color: white;
  font-size: 1vw;
  display: flex;
  background-color: black;
  justify-content: center;
  padding-inline: 1vw;
}

.section--4 {
  pointer-events: none;
  // pointer-events: all;
  opacity: 0;
  position: fixed;
  height: 100dvh;
  width: 100vw;
  background-color: white;
  top: 0;
  left: 0;
  z-index: 15;
  display: flex;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-size: 1.25vw;

  &_image {
    &-1 {
      position: absolute;
      right: 0;
      transform: translateX(100%) translateY(-150px);
    }
    &-2 {
      position: absolute;
      right: 0;
      transform: translateX(100%) translateY(150px);
    }
  }

  &_title {
    // opacity: 0;
    font-size: 7.5vw;
    font-family: "Inter";
    font-weight: 900;
    width: 50%;
    padding: 58px 0 0 50px;

    &Letter {
      display: inline-block;
      line-height: 0.75;
      vertical-align: top;
      transform: translateY(-100%);
    }
    &_blankSpace {
      min-width: 25px;
    }

    & div {
      height: 7.5vw;
      // background-color: blue;
      overflow: hidden;
      margin-bottom: 2vw;
    }
  }

  &_hidder {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: white;
    width: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;

    &--2 {
      height: 100%;
      width: 100%;
      background-color: blue;
    }

    &_shadow {
      position: absolute;
      right: -20px;
      width: 20px;
      height: 85%;
      box-shadow: -14px 0px 45px 4px black;
      opacity: 0;
    }
  }
  &_content {
    font-size: 14px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;

    &-right {
      opacity: 0;
      padding: 58px 50px 58px 0;
      display: flex;
      & p {
        width: 165px;
      }
      &-left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      &-right {
        margin-left: 11vw;
      }
    }
  }
}

.section--4 {
  &--2 {
    &--left {
      min-width: 70%;
      overflow: hidden;
      font-size: 15px;

      &_titles {
        display: flex;
        padding-left: 10vw;
        padding-top: 62px;
        padding-bottom: 5vw;

        & > * {
          font-size: 15px;
          width: 40%;
          font-weight: 400;
          transform: translateY(100%);
          opacity: 0;
        }
      }

      &_content {
        padding-left: 10vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &_line {
          pointer-events: none;
          height: 1px;
          background-color: black;
          width: 100%;
          transform: translateX(100%);
          position: relative;
          z-index: 8;
        }

        &_block {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          height: 90px;
          overflow: hidden;
          width: 100%;

          &_text_wrapper {
            display: flex;
            align-items: center;
            min-width: 100%;
            overflow: hidden;

            & .block_text {
              color: black;
              position: relative;
              z-index: 1;
              display: inline-block;
              width: 40%;
              opacity: 0;
              transform: translateY(100%);
            }
          }
        }
      }
    }
    &--right {
      opacity: 0;
      min-width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;

      padding: 62px 1vw 25px 0;

      & > * {
        width: 103px;
      }
    }
  }
}
.block_background_container {
  position: absolute;
  width: 800px;
  height: 500px;
  opacity: 0;
}

.block_background {
  width: 100%;
  height: 100%;
  pointer-events: none;
  object-fit: cover;
}

.section--4--2--left_content_block {
  &:hover .block_background {
    width: 100%;
  }
}

@media (max-width: 1028px) {
  .section--4 {
    &_hidder {
      overflow: unset;
      left: auto;
      right: 0;
    }

    &--2 {
      &--left {
        &_titles {
          padding-left: 4dvw;
          padding-top: 5dvw;
        }
        &_content {
          padding-left: 5dvw;
        }

        &_content_block {
          height: 10dvh;
        }
      }
    }

    &_image {
      &-1 {
        height: 43%;
        transform: translateX(100%) translateY(-91px);
      }
      &-2 {
        height: 43%;
        transform: translateX(100%) translateY(88px);
      }
    }
    &_content {
      font-size: 13px;
      flex-direction: column;
      &-right {
        padding: 23px 21px;

        align-items: end;
        justify-content: space-between;
        &-right {
          margin-left: 0px;
        }
      }

      &--2 {
        &--right {
          justify-content: flex-end;
          & > * {
            min-width: fit-content;
          }
        }

        &--left {
          min-width: 70%;
          overflow: hidden;
          font-size: 15px;

          // &_titles {
          //   padding-left: 4vw;
          //   padding-top: 5vw;
          // }
          // &_content {
          //   padding-left: 5vw;
          // }
        }
      }
    }
    &_title {
      padding: 23px 21px 0 21px;
      font-size: 15.5vw;
      width: 100%;
      & div {
        height: 15.5vw;
        margin-bottom: 2vw;
      }
    }
    &_more--2 {
      display: none;
    }
  }
}

.second-layer {
  pointer-events: none;
}

.section--4_cursor {
  pointer-events: none;
  position: absolute;
  left: 0;
  border-radius: 100%;
  top: 0;
  overflow: hidden;
  width: 18vw;
  aspect-ratio: 1;
  & img {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.section--5 {
  pointer-events: none;
  &_background {
    pointer-events: none;
    opacity: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 16;
    background-color: white;
  }

  opacity: 0;
  position: fixed;
  font-size: 1.2vw;
  height: 100dvh;
  width: 100%;
  top: 0;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
  overflow: hidden;
  color: white;

  &_container {
    &_zone {
      position: absolute;
      height: 100dvh;
      left: 50%;
      width: 20%;
      bottom: 0;
      padding-top: 5px;
      padding-left: 2px;
      &--1 {
        width: 20%;
        height: 45%;
        // background-color: var(--main);
        & span {
          padding-left: 15px;
        }
      }
      &--2 {
        margin-left: -20%;
        height: 50%;
        // background-color: var(--main);
      }
      &--3 {
        margin-left: 20%;
        height: 45%;
        display: flex;
        flex-direction: column;
        & a {
          text-decoration: none;
          color: white;
        }
        // background-color: var(--main);
      }
      &--4 {
        margin-left: -40%;
        height: 45%;
        & a {
          display: inline-block;
          font-size: 32px;
          border: 3px solid white;
          padding: 10px;
          border-radius: 35px;
          text-decoration: none;
        }
        // background-color: var(--main);
      }
      &--5 {
        margin-left: 40%;
        height: 45%;
        // background-color: var(--main);
      }
      &--6 {
        margin-left: -60%;
        height: 45%;
        // background-color: var(--main);
      }
    }
  }

  &_slider {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 200px;
    display: flex;
    overflow: hidden;
    font-weight: 800;
    white-space: nowrap;
    &_infinite {
      animation: 15s slide infinite linear;
    }
  }
}

@media (max-width: 900px) {
  .section--5 {
    &_slider {
      font-size: 120px;
    }

    &_container_zone--1 {
      // font-size: 4.5vw;
      font-size: 16px;
    }

    &_container_zone--3 {
      margin-left: 23%;
      // font-size: 5vw;
      font-size: 19px;
    }

    &_container_zone--4 {
      margin-left: -47%;
    }
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.underline {
  text-decoration: underline;
}

// En cours

// .thirdLayer {
//   font-family: La;
//   opacity: 1 !important;
//   pointer-events: all;

//   &_carrousel {
//     right: -8vw;
//     display: flex;
//     flex-direction: column-reverse;
//     justify-content: center;
//     align-items: flex-end;
//     width: 5px;
//     height: 100%;
//     // background-color: red;
//     position: absolute;
//   }

//   &_content-left {
//     // background-color: green;
//     min-width: 85%;
//     overflow: hidden;
//     position: relative;
//   }

//   & .project {
//     &_container {
//       margin-block: 40px;
//       // background-color: red;
//       max-width: fit-content;
//       display: flex;
//       gap: 1px;

//       transform: translateX(0);
//       animation-play-state: paused;
//       transition: transform 1s ease;
//     }

//     &_titles {
//       opacity: 0;
//       display: flex;
//       padding-right: 8px;
//       transition: opacity 1s ease;

//       &_title {
//         text-align: end;
//         writing-mode: vertical-rl;
//         text-orientation: sideways-right;
//         transform: rotate(180deg);
//         font-family: "Lato", sans-serif;
//         // font-size: 65px;
//         font-size: 10px;
//         font-weight: 800;
//         line-height: 0.8;
//         // margin-top: 3px;

//         transition: all 1s ease;
//       }

//       &_subtitle {
//         writing-mode: vertical-rl;
//         // font-size: 30px;
//         font-size: 10px;
//         line-height: 1;
//         font-weight: 400;
//       }
//     }

//     &_image-container {
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       min-width: 150px;
//       max-height: 150px;
//       // min-width: 13vh;
//       // max-height: 13vh;
//       overflow: hidden;
//       // transition: all 1s ease;

//       & img {
//         height: 500%;
//         width: 500%;
//         object-fit: cover;
//         filter: grayscale(1);
//         transition: height 1s ease-in-out, width 1s ease-in-out,
//           filter 1s ease-in-out;
//       }
//     }

//     &_description {
//       font-size: 0;
//       width: 0px;
//       & p {
//         font-size: 0;
//         opacity: 0;
//         font-family: "Lato", sans-serif;
//       }
//     }

//     &_summary {
//       font-size: 0;
//       width: 0%;
//       opacity: 0;
//     }
//   }

//   &_buttons {
//     pointer-events: none;
//     position: absolute;
//     z-index: 5;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     gap: 50vh;
//     right: 0;

//     height: 100%;
//     &_button {
//       &--up {
//         pointer-events: all;
//         background-color: black;
//         height: 60px;
//         width: 60px;
//         border-radius: 100%;
//       }
//       &--down {
//         pointer-events: all;
//         background-color: black;
//         height: 60px;
//         width: 60px;
//         border-radius: 100%;
//       }
//     }
//   }
// }

// .project_container.active {
//   transform: translateX(-120px);

//   & .project {
//     &_image-container {
//       min-width: 300px;
//       // min-width: 25vw;
//       max-height: 300px;
//       // max-height: 25vw;
//       & img {
//         height: 200%;
//         width: 200%;
//       }
//     }

//     &_titles {
//       opacity: 1;
//       &_title {
//         font-size: 65px;
//       }
//       &_subtitle {
//         font-size: 30px;
//       }
//     }
//   }
// }

// &:hover {
//   & .project_summary {
//     animation: summaryAppears 2s ease forwards;
//     animation-play-state: running;
//   }
//   & .project_image-container {
//     animation: containerExpand 1.2s cubic-bezier(0.79, 0.33, 0.35, 0.69)
//       forwards;
//     animation-play-state: running;
//   }
//   & img {
//     animation: imageZoomIn 1.2s cubic-bezier(0.79, 0.33, 0.35, 0.69) forwards;
//     animation-play-state: running;
//   }
// }

// &:not(:hover) {
//   & .project_summary {
//     animation: summaryDisappears 2s ease;
//     animation-play-state: running;
//   }
//   & .project_image-container {
//     animation: containerShrink 1.2s cubic-bezier(0.79, 0.33, 0.35, 0.69)
//       forwards;
//     animation-play-state: running;
//   }
//   & img {
//     animation: imageZoomOut 1.2s cubic-bezier(0.79, 0.33, 0.35, 0.69) forwards;
//     animation-play-state: running;
//   }
// }
// }

.project_container.enableHover {
  &:hover .project {
    &_image-container {
      & img {
        height: 100%;
        width: 100%;
        filter: grayscale(0);
      }
    }
  }
}

.active {
  display: flex;
}

// @keyframes summaryAppears {
//   0% {
//     width: 0;
//     font-size: 0;
//     opacity: 0;
//     padding-right: 0;
//   }
//   50% {
//     width: auto;
//     width: 50%;
//     font-size: 15px;
//     opacity: 0;
//   }
//   100% {
//     width: 100%;
//     font-size: 15px;
//     opacity: 1;
//     padding-right: 25px;
//   }
// }

// @keyframes summaryDisappears {
//   0% {
//     width: 100%;
//     font-size: 15px;
//     opacity: 1;
//     padding-right: 25px;
//   }
//   50% {
//     width: auto;
//     width: 50%;
//     font-size: 15px;
//     opacity: 0;
//   }
//   100% {
//     width: 0;
//     font-size: 0;
//     opacity: 0;
//     padding-right: 0;
//   }
// }

// @keyframes imageZoomIn {
//   0% {
//     filter: grayscale(1);
//     height: 300%;
//     width: 300%;
//   }
//   100% {
//     filter: grayscale(0);
//     height: 100%;
//     width: 100%;
//   }
// }

// @keyframes imageZoomOut {
//   0% {
//     filter: grayscale(0);
//     height: 100%;
//     width: 100%;
//   }
//   100% {
//     filter: grayscale(1);
//     height: 300%;
//     width: 300%;
//   }
// }

// @keyframes containerExpand {
//   0% {
//     min-width: 300px;
//     max-height: 300px;
//   }
//   100% {
//     min-width: 325px;
//     max-height: 325px;
//   }
// }

// @keyframes containerShrink {
//   0% {
//     min-width: 325px;
//     max-height: 325px;
//   }
//   100% {
//     min-width: 300px;
//     max-height: 300px;
//   }
// }

// A la base
// 2-2
//    margin-left: -20%;
//    height: 0%;
//    background-color: var(--main-2);

// Après le passe de ses morts
